/* td,
input {
    border: none;
} */

td {
    border: none;
}

.upper-hr {
    padding: 5px 30px 5px;
    border-style: none;
    border-top-style: solid;
    border-width: 2px;
    height: 2px;
}

.lower-hr {
    padding: 5px 30px 10px;
    border-style: none;
    border-top-style: solid;
    border-width: 2px;
    height: 2px;
}

.horizontal-rule {
    border-style: none;
    border-top-style: solid;
    border-color: gray;
    border-width: 2px;
    margin: 15px 0 15px;
}
/* #react-select-3-listbox {
    z-index: 1000000000 impotant !important;
} */

/* Chrome */
::-webkit-scrollbar {
  /* width: 12px; */
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



@media (max-width: 640px) {
    .main-container {
        margin-top: 5rem;
        margin: 3rem 2rem ;
    }
}

@media (max-width: 640px) {
    .sm\:mt-2 {
        margin-top: 0.5rem /* 8px */;
    }
}
