* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.loading{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 254, 254, 0.219);
    z-index: 9999;
}
.loading .spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform : translate(-50%,-50%);
    z-index: 999999;
}

.loading .spinner img{
    width: 4vw;
}


.dialog {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(240, 233, 233, 0.247);
    display: none;
    z-index: 999;
    padding: 40px;
}

.dialog .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.side-bar {
    padding: 10px;
    border-radius: 5px;
    border: .5px solid rgb(224, 224, 224);
}

.side-bar ul {
    list-style: none;
    padding: 5px;
}

.cart {
    position: relative;
}

.cart span {
    position: absolute;
    top: 0px;
    right: 4px;
    padding: 2px;
    background-color: #4e73df;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    line-height: 1;
}
